<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759532164289-bsimaekbtu5ajc20to82n2klficfqohc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759532164289-bsimaekbtu5ajc20to82n2klficfqohc</string>
	<key>API_KEY</key>
	<string>AIzaSyCGDpLBclWAEFQ3YuYySsZyYS67f1ZWQdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>759532164289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-22d7d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-22d7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759532164289:ios:fd307ddf8b65b49f727040</string>
</dict>
</plist>